@import ../../../assets/styles/variables

.price
  font-size: 16px
  line-height: 16px
  margin-top: 32px
  display: flex
  position: relative

.title
  font-weight: bold
  margin-right: 5px

.value
  span
    color: $darkGrey

.alert
  font-size: 10px
  color: red
  display: block
  position: absolute
  top: 100%
  left: 0