@import ../../assets/styles/variables
@import ../../assets/styles/media

.model
  height: 100%
  display: flex
  flex-direction: column
  position: relative

.select
  padding-bottom: 48px
  display: flex
  flex-wrap: wrap
  gap: 16px

.wrapper
  padding-bottom: 32px
  display: flex
  align-content: baseline
  align-items: center
  flex-wrap: wrap
  flex-grow: 1
  overflow: scroll

.preloader
  position: sticky
  width: 100%
  height: 60px

.firstLoad
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.scroll
  min-height: 426px

@include mobileDevice
  .select
    padding-bottom: 20px
  .label
    font-size: 11px