@import ../../assets/styles/variables
@import  ../../assets/styles/media

.main
  margin-top: 40px
  display: flex
  flex-direction: column
  flex-grow: 1


.wrapper
  max-width: $desktopMaxWidth
  width: $desktopMaxWidth
  padding: 0 $defaultPadding * 2 $defaultPadding
  margin: 0 auto
  box-sizing: border-box
  display: flex
  justify-content: space-between
  flex-grow: 1

.stage
  width: calc(736 * 100% / 1248)
  padding-top: 39px
  padding-right: calc(192 * 100% / 1248)
  border-right: 1px solid $lightGrey

.scroll
  > div
    display: flex

@include desktopMinDevice
  .wrapper, .container
    margin: 0
    width: 100%
    padding: 0 $defaultPadding 0

@include tabletDevice
  .wrapper
    display: flex
    flex-direction: column
  .stage
    width: 100%
    padding-right: 0
    border: none

@include mobileDevice
  .main
    margin-top: 20px
  .container, .wrapper
    padding: 0 $defaultPadding /2 0
  .stage
    padding-top: 30px
