@import ../../assets/styles/variables
@import  ../../assets/styles/media

.main
  margin-top: 40px
  display: flex
  flex-direction: column
  flex-grow: 1


.container
  line-height: 0
  max-width: $desktopMaxWidth
  padding: 0 $defaultPadding * 2
  box-sizing: border-box
  margin: 0 auto
  display: flex
  flex-wrap: wrap



.breadcrumbs
  padding: 0
  margin: 0
  list-style: none
  border-top: 1px solid $lightGrey
  border-bottom: 1px solid $lightGrey
.item
  margin-right: 38px
  position: relative
  &::after
    content: ""
    width: 0px
    height: 0px
    border: 4px solid transparent
    border-right-width: 0px
    border-left: 6px solid $darkGrey
    position: absolute
    top: 50%
    right: -22px
    transform: translateY(-50%)

  &:last-of-type
    margin-right: 0
    &::after
      display: none

.button
  font-family: "RobotoReg"
  font-size: 14px
  font-weight: bold
  line-height: 16px
  color: $mainBlack
  padding: 8px 0
  background: none
  outline: none
  border: none
  cursor: pointer
  transition: all $short ease
  &:disabled
    color: $darkGrey
    cursor: default

.wrapper
  max-width: $desktopMaxWidth
  width: $desktopMaxWidth
  padding: 0 $defaultPadding * 2
  margin: 0 auto
  box-sizing: border-box
  display: flex
  justify-content: space-between
  flex-grow: 1

.stage
  width: calc(736 * 100% / 1248)
  padding-top: 39px
  padding-right: calc(192 * 100% / 1248)
  border-right: 1px solid $lightGrey


.selected
  color: $mainAccent

@include desktopMinDevice
  .wrapper, .container
    margin: 0
    width: 100%
    padding: 0 $defaultPadding 0
    justify-content: flex-start

@include tabletDevice
  .wrapper
    display: flex
    flex-direction: column
  .stage
    width: 100%
    padding-right: 0
    border: none

@include mobileDevice
  .container, .wrapper
    padding: 0 $defaultPadding /2 0
  .item
    margin-right: 10px
    &::after
      display: none
  .button
    font-size: 11px