@import ../../styles/variables
@import ../../styles/media

.default
  font-family: "RobotoMed"
  font-family: 18px
  line-height: 21px
  text-decoration: none
  text-align: center
  color: $white
  width: 250px
  height: 48px
  padding: 15px 0 11px 0
  margin-top: 60px
  box-sizing: border-box
  display: block
  position: relative
  outline: none
  border: none
  cursor: pointer
  background: none

  &::before
    content: ""
    width: 100%
    height: 100%
    background: linear-gradient(90deg, $mainAccent 2.61%, $secondAccent 112.6%)
    border-radius: 8px
    background-blend-mode: normal
    position: absolute
    top: 0
    left: 0
    z-index: -1
    transition: all $short ease

  &:hover
    &::before
      filter: brightness(0.9)

  &:active
    &::before
      filter: brightness(0.8)

  &:disabled
    &::before
      background: $lightGrey
      filter: none

  &:hover:disabled
    &::before
      filter: none

.more
  width: 164px
  margin-top: 32px

  &::before
  border-radius: 4px

.color-0
  &::before
    background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%)


.color-1
  &::before
    background: linear-gradient(90deg, #132949 0%, #0C7B67 100%)

.color-2
  &::before
    background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%)

.color-3
  &::before
    background: linear-gradient(90deg, #281349 0%, #720C7B 100%)


.submit
  width: 177px
  height: 48px
  margin-top: 0

.wide
  font-size: 17px
  line-height: 21px
  width: 100%
  margin-top: 32px
  position: relative
  z-index: 2

// @include desktopMinDevice
  // .wide
    // margin-bottom: $defaultPadding * 3

@include tabletDevice
  .wide
    margin-top: 0

@include mobileDevice
  .default
    width: 100vw
    margin-top: 32px
    margin-left: -16px

    &::before
      border-radius: 0px

  .wide
    font-size: 15px
    margin-right: -16px
    margin-top: 0
    margin-bottom: 0
  .submit
    margin-left: 0

@include mobileMinDevice
  .default
    margin-top: 5px
  .wide
    height: 30px
    font-size: 14px
    line-height: 0
