@import ../../assets/styles/variables
@import ../../assets/styles/media
@import ../../assets/styles/adaptedProperties

.title
  font-family: "RobotoLgt"
  font-size: 14px
  font-weight: normal
  line-height: 16px
  color: $mainBlack

.wrapper
  margin-top: 16px
  display: flex

.date
  max-width: 245px
  .wrapper
    display: block

.block
  display: block

.param
  margin-top: 32px
  &:first-of-type
    margin-top: 0

@include mobileDevice
  .title
    @include adaptedForMobile(font-size, 11, 15, px)


