@import ../../assets/styles/variables

.title
  font-family: "RobotoLgt"
  font-size: 14px
  font-weight: normal
  line-height: 16px

.wrapper
  margin-top: 16px
  display: flex

.param
  margin-top: 32px
  &:first-of-type
    margin-top: 0

