@import ../../assets/styles/variables

.main
  margin-top: -60px
  button
    margin-top: 60px
    height: 46px

.title
  font-size: 70px
  font-weight: bold
  line-height: 66px
  color: $mainBlack

  span
    color: $mainAccent
    display: block

.description
  font-weight: 300
  color: $darkGrey
  margin-top: 34px


