@import ../../assets/styles/variables
@import ../../assets/styles/media

.main
  margin-top: -60px
  button
    margin-top: 60px
    height: 46px

.title
  font-size: 70px
  font-weight: bold
  line-height: 66px
  color: $mainBlack

  span
    color: $mainAccent
    display: block

.description
  font-family: "RobotoLgt"
  font-size: 26px
  line-height: 30px
  font-weight: 300
  color: $darkGrey
  margin-top: 34px

//media

@include mobileDevice
  .title
    font-size: 32px
    line-height: 32px
    span
      line-height: 32px
  .description
    font-size: 18px
    line-height: 21px
    margin-top: 16px
  .main
    margin-top: -60px

@include tabletDevice
  .title
    line-height: 100%
    span
      line-height: 66px

@include mobileMinDevice
  .title
    span
      display: inline
  .description
    margin-top: 0
  .main
    margin-top: -30px