@import ../../assets/styles/variables
@import ../../assets/styles/media
@import ../../assets/styles/adaptedProperties

.check
  width: calc(287 * 100% / 1248)
  padding-top: 39px
  padding-left: calc(32 * 100% / 1248)
  flex-grow: 1
  display: flex
  flex-direction: column



.title
  text-align: end
  margin-bottom: 26px



@include desktopMinDevice
  .check
    width: 35%
    padding-left: 5%

@include tabletDevice
  .check
    width: 100%
    padding-left: 0
    padding-bottom: 90px
    justify-content: flex-end
  .dots
    width: 300px

@include mobileDevice
  .check
    padding-top: 40px
    padding-bottom: 40px
  .title
    @include adaptedForMobile(font-size, 12, 17, px )
    text-align: start
    margin-bottom: 0px