@import ../../assets/styles/variables
@import ../../assets/styles/media

.check
  width: calc(287 * 100% / 1248)
  padding-top: 39px
  padding-left: calc(32 * 100% / 1248)

.parameter
  display: flex
  justify-content: space-between
  align-items: flex-end

.title
  text-align: end
  margin-bottom: 26px

.dots
  width: 60px
  border-bottom: 1px dotted $darkGrey

.name
  font-family: "RobotoLgt"
  color: $mainBlack

.value
  font-family: "RobotoLgt"
  color: $darkGrey
  text-align: end
  span
    display: block

@include desktopMinDevice
  .check
    width: 35%
    padding-left: 5%

@include tabletDevice
  .check
    width: 100%
    padding-left: 0
    padding-bottom: 64px
  .dots
    width: 300px

@include mobileDevice
  .check
    padding-top: 20px
    padding-bottom: 20px
  .title
    display: none
  .parameter
    display: none