@import ../../assets/styles/variables

.check
  width: calc(287 * 100% / 1248)
  padding-top: 39px
  padding-left: calc(32 * 100% / 1248)

.parameter
  display: flex
  justify-content: space-between
  align-items: flex-end

.title
  text-align: end
  margin-bottom: 26px

.dots
  width: 60px
  border-bottom: 1px dotted $darkGrey

.name
  font-family: "RobotoLgt"
  color: $mainBlack

.value
  font-family: "RobotoLgt"
  color: $darkGrey
  text-align: end
  span
    display: block