@import ../../../assets/styles/variables
@import ../../../assets/styles/media
@import ../../../assets/styles/adaptedProperties

.item
  width: 50%
  height: 0px
  padding: 16px
  padding-bottom: calc(204 * 100% / 736)
  box-sizing: border-box
  border: 1px solid $lightGrey
  cursor: pointer
  position: relative


.selected
  border: 1px solid $mainAccent

.name
  font-size: 18px
  line-height: 21px
  color: $mainBlack
  text-transform: uppercase

.price
  font-size: 14px
  line-height: 16px
  color: $darkGrey

.image
  display: block
  width: calc(256 * 100% / 366)
  height: 53%
  position: absolute
  bottom: calc(16 * 100% / 222)
  right: calc(16 * 100% / 366)

  img
    display: block
    width: 100%
    height: 100%
    object-fit: contain
    object-position: right

@include desktopMinDevice
  .image
    height: 34%

@include tabletDevice
  .image
    height: 60%

@include mobileDevice
  .item
    width: 100%
    @include adaptedForMobile(padding-bottom, 100, 200, px)

  .name, .price
    @include adaptedForMobile(font-size, 11, 15, px)
    line-height: 1
  .price
    margin-top: 5px
  .image
    height: 70%