@import ../../assets/styles/variables

.sidebar
    width: 64px
    padding: 32px 16px
    box-sizing: border-box
    background-color: $lightBlack
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

@media screen and ( max-width:  $tablet)
    .sidebar
        display: none