@import ../../assets/styles/variables

.footer
  display: flex
  justify-content: space-between

.copyright,.phone
  font-family: "RobotoMed"
  font-size: 13px
  line-height: 15px

.copyright
  color: $darkGrey

.phone
  color: $mainBlack
  text-decoration: none