@import ../../assets/styles/variables


.footer
  display: flex
  justify-content: space-between

.copyright
  font-size: 13px
  line-height: 15px
  color: $darkGrey

.phone
  font-size: 13px
  line-height: 15px
  color: $mainBlack
  text-decoration: none